Repository owocowe-piatki/home-automation, pull requests merged in 2020-10, with the labels that each got.

#3 Add readme
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
  README.md
Labels: documentation, enhancement

#10 Bootstrap frontend and backend projects
  README.md
  backend/.dockerignore
  backend/.gitignore
  backend/Dockerfile
  backend/README.md
  backend/core/__init__.py
  backend/core/asgi.py
  backend/core/scripts.py
  backend/core/settings.py
  backend/core/urls.py
  backend/core/wsgi.py
  backend/entrypoint.sh
  backend/manage.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/templates/frontend.html
  build.sh
  frontend/.dockerignore
  frontend/.gitignore
  frontend/Dockerfile
  frontend/README.md
  frontend/jsconfig.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/.gitkeep
  frontend/src/index.jsx
  frontend/src/pages/.gitkeep
  frontend/src/theme.js
  frontend/static/assets/fonts.css
  frontend/static/assets/fonts/.gitkeep
  frontend/static/index.html
  frontend/static/manifest.json
  frontend/webpack/config.js
  frontend/webpack/dev.js
  frontend/webpack/dist.js
  frontend/yarn.lock
  home-automation.code-workspace
Labels: backend, frontend, improvement

#18 Use eslint to test the code before merge
  .github/workflows/lint.yml
  .gitignore
  frontend/package.json
Labels: improvement, workflow

#20 Switch to a single dockerfile
  Dockerfile
  README.md
  backend/Dockerfile
  build.sh
  frontend/Dockerfile
Labels: backend, deployment, frontend

#21 Add backend github actions
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  .github/workflows/lint.yml
  backend/core/settings.py
  backend/poetry.lock
  backend/pyproject.toml
Labels: backend

#22 Implement custom user model
  .github/workflows/backend.yml
  backend/README.md
  backend/apps/__init__.py
  backend/apps/users/__init__.py
  backend/apps/users/admin.py
  backend/apps/users/apps.py
  backend/apps/users/forms.py
  backend/apps/users/managers.py
  backend/apps/users/migrations/0001_initial.py
  backend/apps/users/migrations/__init__.py
  backend/apps/users/models.py
  backend/apps/users/tests.py
  backend/core/settings.py
  backend/core/urls.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/test.sh
Labels: backend, cleanup, improvement

#23 Add coupling between django and mqtt broker
  .github/workflows/backend.yml
  README.md
  backend/README.md
  backend/apps/mqtt/__init__.py
  backend/apps/mqtt/apps.py
  backend/apps/mqtt/client.py
  backend/apps/mqtt/signals.py
  backend/core/settings.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/test.sh
Labels: backend

#24 Cleanup frontend code
  frontend/src/App.jsx
  frontend/src/components/Button.jsx
  frontend/static/index.html
  frontend/static/manifest.json
Labels: cleanup, frontend

#25 Added user authorization templates and routes
  backend/apps/users/migrations/0002_user_is_active.py
  backend/apps/users/migrations/001_initial.py
  backend/apps/users/models.py
  backend/apps/users/static/users/css/base_style.css
  backend/apps/users/static/users/css/form_style.css
  backend/apps/users/templates/_base.html
  backend/apps/users/templates/users/login.html
  backend/apps/users/templates/users/password_change.html
  backend/apps/users/templates/users/password_change_done.html
  backend/apps/users/templates/users/password_reset.html
  backend/apps/users/templates/users/password_reset_complete.html
  backend/apps/users/templates/users/password_reset_confirm.html
  backend/apps/users/templates/users/password_reset_done.html
  backend/apps/users/urls.py
  backend/core/settings.py
  backend/core/urls.py
Labels: backend

#26 More frontend linting and testing
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  README.md
  backend/README.md
  frontend/.gitignore
  frontend/README.md
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/.gitkeep
  frontend/src/components/Button.jsx
  frontend/src/components/Button.test.js
  frontend/yarn.lock
Labels: frontend, workflow

#28 HA-5: Add home structure models
  .github/workflows/backend.yml
  backend/.gitignore
  backend/README.md
  backend/apps/appliances/__init__.py
  backend/apps/appliances/lamp/__init__.py
  backend/apps/appliances/lamp/admin.py
  backend/apps/appliances/lamp/apps.py
  backend/apps/appliances/lamp/migrations/0001_initial.py
  backend/apps/appliances/lamp/migrations/__init__.py
  backend/apps/appliances/lamp/models.py
  backend/apps/home/__init__.py
  backend/apps/home/admin.py
  backend/apps/home/apps.py
  backend/apps/home/migrations/0001_initial.py
  backend/apps/home/migrations/__init__.py
  backend/apps/home/models.py
  backend/apps/home/tests.py
  backend/apps/users/admin.py
  backend/apps/users/managers.py
  backend/apps/users/migrations/0002_user_is_active.py
  backend/apps/users/migrations/001_initial.py
  backend/apps/users/models.py
  backend/apps/users/tests.py
  backend/apps/users/urls.py
  backend/core/settings.py
  backend/core/urls.py
  backend/core/wsgi.py
  backend/manage.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/test.sh
  frontend/package.json
Labels: backend

#31 HA-39: Added test:all script that performs prepush tests
  frontend/README.md
  frontend/package.json
Labels: improvement, workflow

#29 HA-3: Setup router and some pages
  backend/templates/frontend.html
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/Button.jsx
  frontend/src/components/Components.test.js
  frontend/src/components/Dashboard.jsx
  frontend/src/components/Profile.jsx
  frontend/src/components/Settings.jsx
  frontend/src/index.jsx
  frontend/src/pages/.gitkeep
  frontend/src/pages/Menu/Menu.jsx
  frontend/src/pages/Menu/index.js
  frontend/src/pages/Menu/styles.js
  frontend/src/theme.js
  frontend/yarn.lock
Labels: frontend

#32 HA-15: Couple room and appliance models with mqtt signals
  backend/appliances/__init__.py
  backend/appliances/lamp/__init__.py
  backend/appliances/lamp/admin.py
  backend/appliances/lamp/apps.py
  backend/appliances/lamp/migrations/0001_initial.py
  backend/appliances/lamp/migrations/__init__.py
  backend/appliances/lamp/models.py
  backend/apps/appliances/lamp/__init__.py
  backend/apps/appliances/lamp/models.py
  backend/apps/home/apps.py
  backend/apps/home/migrations/0002_auto_20201022_2356.py
  backend/apps/home/models.py
  backend/apps/home/signals.py
  backend/core/settings.py
Labels: backend

#34 HA-31: UserTypes and UserQuery for Graphql
  backend/apps/users/gql/queries.py
  backend/apps/users/gql/types.py
  backend/core/schema.py
Labels: backend

#35 HA-40: Add github action to check if PR title meets jira pattern
  .github/workflows/pull_request_check.yml
  README.md
Labels: workflow

#36 HA-33: Implement graphene type and query for Room
  backend/README.md
  backend/appliances/lamp/migrations/0001_initial.py
  backend/apps/home/graphql/__init__.py
  backend/apps/home/graphql/queries.py
  backend/apps/home/graphql/types.py
  backend/apps/home/migrations/0001_initial.py
  backend/apps/home/migrations/0002_auto_20201022_2356.py
  backend/apps/home/models.py
  backend/apps/home/tests.py
  backend/apps/users/graphql/__init__.py
  backend/apps/users/graphql/queries.py
  backend/apps/users/graphql/types.py
  backend/apps/users/managers.py
  backend/apps/users/migrations/001_initial.py
  backend/apps/users/models.py
  backend/apps/users/tests.py
  backend/apps/users/urls.py
  backend/core/schema.py
  backend/core/settings.py
  backend/core/urls.py
  backend/pyproject.toml
  backend/test.sh
Labels: backend
